{% extends 'base.html' %}

{% block title %}Главная{% endblock title %}



{% block content %}

    <h1>NewTech</h1>
    <ul>
        <li class="L"><button type="profile">Профиль</button></li>
        <li class="L"><button type="basket">Корзина</button></li>
        <li class="L"><button type="favourite">Отложенное</button></li> 
    </ul>
    
    <form class="F">
        <label>Категория</label>
    <select>
        <option>Пупупуууу</option>
        <option>Пупупуууу</option>
        <option>Пупупуууу</option>
        <option>Пупупуууу</option>
    </select> 
    </form>
    
   
    
    
    <h2>Список товаров</h2>
    <table>
        <tr><th>Название</th><th>Производитель</th><th>Цвет</th><th>Цена</th><th>Наличие</th><th>Количество товара на складе</th></tr>
        {% for product in tovar %}
        <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.manufacturer }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.available }}</td>
        <td>{{ product.amount }}</td></tr>
        {% endfor %}
        </table>
        
{% endblock content %}